::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a,
div,
p,
h1,
button {
  user-select: none;
}
