@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes fromRight {
  from {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes topToBot {
  from {
    height: 4rem;
  }
  to {
    height: 10rem;
  }
}

@keyframes topToBot {
  from {
    height: 4rem;
  }
  to {
    height: 10rem;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes lettersFromLeft {
  from {
    width: 0;
  }
}

@keyframes lettersFromLeft {
  from {
    width: 0;
  }
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
div,
p,
h1,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e4e4e4;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 3rem;
  padding-top: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 35%;
  }
}

.btn {
  border-radius: 0.5rem;
  margin: 2rem 0px 0px 2rem;
  padding: 1rem 2rem;
  width: 15rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
}

.btn-black {
  background-color: #272727;
  color: white;
}

.btn-disabled {
  background-color: gray;
  cursor: default;
}

.btn-disabled:hover, .btn-disabled:active {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-login {
  font-size: 1.2rem;
  text-transform: lowercase;
  background-color: #272727;
  color: white;
}

.selected-size {
  border: 0.2rem solid gray;
  padding: 0.3rem 0.6rem;
  border-radius: 0.6rem;
  font-weight: bold;
}

@media screen and (max-width: 410px) {
  .btn {
    width: 12rem;
    padding: 1rem;
    margin: 2rem auto;
  }
}

/* DARK OVERLAY */
.overlay {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeInAnimation 1s;
          animation: fadeInAnimation 1s;
}

.header-container {
  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #272727;
  padding: 1rem 10rem;
  left: 0px;
}

.user-name {
  text-transform: capitalize;
}

.logo {
  width: 10rem;
  height: 10rem;
  padding-top: 1rem;
}

.logo img {
  width: 100%;
  border-radius: 1rem;
  height: 9rem;
}

.header-total {
  font-size: 2rem;
  padding: 0.9rem;
  border-radius: 1.2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: auto;
  visibility: visible;
}

.cart-length {
  display: none;
}

.hidden {
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0px;
}

.cart-user-container {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-buttons {
  -webkit-box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 0.4), inset 0px 0px 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 0.4), inset 0px 0px 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 1.1rem;
  font-size: 2rem;
}

.cart-nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
  cursor: pointer;
  background-color: #e4e4e4;
  position: relative;
  height: 4rem;
}

.user-nav {
  margin-left: 1rem;
  width: 12rem;
  height: 4rem;
  text-align: center;
  padding-top: 1rem;
  -webkit-transition: all 0.3;
  transition: all 0.3;
  background-color: #e4e4e4;
  cursor: pointer;
}

.user-nav p {
  cursor: pointer;
}

.user-nav-show {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  -webkit-box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 0.4), inset 0px 0px 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 0.4), inset 0px 0px 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 1.1rem;
  font-size: 2rem;
  margin-left: 1rem;
  width: 12rem;
  z-index: 1;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: #e4e4e4;
}

.user-nav-show p:not(:first-child):hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: blue;
}

.grow {
  -webkit-animation: topToBot 0.3s;
          animation: topToBot 0.3s;
}

/* TITLE */
.title-container {
  background-color: #e4e4e4;
  padding-top: 12rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 0px 0px 1.1rem 1.1rem;
}

.title-container h1 {
  font-style: italic;
  font-size: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.title-container img {
  position: absolute;
  left: 1rem;
  top: 3rem;
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 600px) {
  .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem;
  }
  .header-total {
    display: none;
  }
  .fa-shopping-cart {
    padding-right: 1rem;
  }
  .cart-length {
    display: block;
    position: absolute;
    right: 0.5rem;
    bottom: 0rem;
  }
}

.form {
  width: 50rem;
  height: 40rem;
  -webkit-box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 1rem;
  background-color: #e4e4e4;
}

.input-container {
  position: relative;
  padding: 1rem;
}

.input-container input {
  border: none;
  border-bottom: 2px solid silver;
  width: 100%;
  margin-top: 3rem;
  outline: none;
  font-size: 2rem;
  background-color: #e4e4e4;
}

.input-container input:focus + label,
.input-container input:valid + label {
  content: "";
  outline: none;
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.input-container label {
  position: absolute;
  left: 1rem;
  margin-top: 3rem;
  font-size: 1.6rem;
}

.input-container label:focus {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error {
  text-align: center;
  -webkit-transition: all 0.3;
  transition: all 0.3;
}

.spinner-container {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.google-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-google {
  background-color: #4285f4;
  height: 4rem;
  font-size: 1.2rem !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default !important;
}

.btn-text {
  padding-left: 0.5rem;
  height: 4rem;
  display: block;
  padding-top: 1.3rem;
  cursor: pointer;
}

.google-icon-wrapper {
  background-color: #e4e4e4;
  width: 3.5rem;
  height: 4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 4rem;
  border-left: 0.1rem solid #4285f4;
  border-top: 0.1rem solid #4285f4;
  border-bottom: 0.1rem solid #4285f4;
  border-bottom-left-radius: 0.4rem;
}

.spinner {
  margin-top: 2rem !important;
}

/* NEW ACC */
.errors {
  padding-left: inherit;
}

.success-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 400px) {
  .form {
    height: 42rem;
  }
}

.cart-container {
  width: 34rem;
  height: 10rem;
  position: relative;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cart-container img {
  width: 10rem;
  height: 10rem;
}

.img-container {
  position: absolute;
  left: 0px;
  width: 10rem;
  height: 10rem;
  background-color: #e4e4e4;
  border-radius: 1rem;
}

.price {
  position: absolute;
  left: 11rem;
  bottom: 1.3rem;
}

.title {
  position: absolute;
  left: 11rem;
  top: 1rem;
}

.quantity {
  position: absolute;
  width: 10rem;
  right: 1rem;
  bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e4e4e4;
  border-radius: 1.1rem;
}

.minus,
.plus {
  border-radius: 1.1rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e4e4e4;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.plus {
  color: green;
}

.fadeIn {
  -webkit-animation: fadeInAnimation 1s;
          animation: fadeInAnimation 1s;
}

.fadeOut {
  -webkit-animation: fadeOutAnimation 1s;
          animation: fadeOutAnimation 1s;
}

.total-container {
  width: 36rem;
  padding: 2rem 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  -webkit-box-shadow: 0px -0.4rem 0.4rem 0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0px -0.4rem 0.4rem 0.3rem rgba(0, 0, 0, 0.4);
  font-size: 2rem;
}

.total-container button {
  cursor: pointer;
  width: 100%;
  margin-left: 0rem;
}

.total-container button:hover {
  background-color: #414141;
}

.text-danger {
  color: #c91d12;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cart-items-container {
  position: absolute;
  right: 0rem;
  top: 1rem;
  width: 36rem;
  background-color: #e4e4e4;
  text-align: center;
  border-radius: 0.6rem;
  -webkit-animation: fromRight 1s;
          animation: fromRight 1s;
}

.cart-items-container h3 {
  font-size: 3rem;
  padding-top: 6rem;
}

.x-btn {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.clear-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.empty-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.empty-cart img {
  width: 20rem;
  height: auto;
  margin-bottom: 2rem;
}

.empty-cart div {
  margin-top: 5rem;
}

.empty-cart button {
  width: 20rem;
}

.categories-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 0rem auto 2rem auto;
  height: 20rem;
}

.categories-card {
  width: 20rem;
  height: 20rem;
  background-size: cover;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
}

.ribbon {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 22.5rem;
  padding: 0.5rem 0;
  background-color: #272727;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 -1rem -1rem rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -1rem;
  left: -1rem;
}

.ribbon-top-left span {
  right: -0.5rem;
  top: 3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.selected-cat {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0.5rem 0px #272727;
          box-shadow: 0px 0px 0.5rem 0px #272727;
}

@media screen and (max-width: 750px) {
  .categories-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .categories-card {
    height: 10rem;
    width: 10rem;
    margin-bottom: 2rem;
  }
  .ribbon {
    height: 7.5rem;
    width: 7.5rem;
    font-size: 1rem;
  }
  .ribbon span {
    width: 11.5rem;
    background-color: #272727;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    color: #fff;
    font: 700 1.3rem/1 "Lato", sans-serif;
    text-shadow: 0 -1rem -1rem rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .categories-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    height: 27rem;
  }
  .categories-card {
    width: 15rem;
    height: 12rem;
  }
}

.card-container {
  width: 22rem;
  height: 26rem;
  margin: 0px 1rem;
  border-radius: 1.1rem;
  background-color: white;
}

.card-container div {
  text-align: center;
}

.card-container h4 {
  font-size: 1.8rem;
}

.detail-img {
  width: 14rem;
  height: 14rem;
}

.card-price {
  color: black;
  font-weight: bold;
  font-size: 1.7rem;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.main-modal {
  background-color: #a19f9f;
  position: relative;
  width: 28rem;
  height: 40rem;
  border: 0.4rem solid white;
  border-radius: 1rem;
  -webkit-animation: rotate 0.5s;
          animation: rotate 0.5s;
}

.close-btn {
  left: 1rem;
  top: 0.5rem;
  position: absolute;
  cursor: pointer;
}

.header-modal {
  background-color: #a19f9f;
  border-radius: calc(1rem - 0.4rem) calc(1rem - 0.4rem) 0 0;
  height: 22.6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-modal {
  background-color: white;
  height: 16.7rem;
  border-radius: 0 5rem 0 0;
}

.detail-name {
  text-align: left;
  padding-top: 2.5rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.detail-price {
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
}

.detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
}

.detail-sizes {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 75%;
  text-align: center !important;
  font-size: 1.4rem;
}

.detail-sizes p {
  display: inline-block;
  margin-left: 0.7rem;
  cursor: pointer;
}

.detail-color-container {
  width: 25%;
  height: 3rem;
}

.detail-color {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.4rem;
  border: 0.2rem solid gray;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-color-list {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.8rem;
  border-radius: 0.4rem;
  border: 0.2rem groove gray;
}

.size {
  color: gray;
}

.added-msg {
  border-radius: 0.5rem;
  margin: 3rem 0px 0px 2rem;
  width: 15rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #272727;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: lettersFromLeft 1s steps(60, end);
          animation: lettersFromLeft 1s steps(60, end);
}

.home-container {
  border-radius: 2rem;
  margin: 5rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6rem;
  background-color: #272727;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 40rem;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.autocomplete {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.autocomplete input {
  border-radius: 2rem 2rem 0px 0px;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 1rem 4rem;
  text-align: center;
  font-size: 16px;
}

.autocomplete input:focus {
  outline: none;
}

.search {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 1.5rem 0;
  background-color: inherit;
  width: 3rem;
  height: 100%;
  cursor: pointer;
  border-radius: 0px 2rem 2rem 0;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  background-color: #f1f1f1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0px;
}

.autocomplete-items div {
  padding: 1rem;
  cursor: pointer;
  background-color: #f1f1f1;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

@media screen and (max-width: 530px) {
  .search {
    padding-top: 1.7rem;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */