.cart-container {
  width: 340px;
  height: 100px;
  position: relative;
}

.img-container {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.price {
  position: absolute;
  left: 110px;
  bottom: 0px;
}

.title {
  position: absolute;
  left: 110px;
  margin-top: 0px;
  line-height: 1px;
}

.cart-container img {
  width: 100px;
  height: 100px;
}

.quantity {
  position: absolute;
  width: 100px;
  right: 10px;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 227, 227);
  border-radius: 11px;
}

.minus {
  border-radius: 11px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: all 1s ease;
  box-shadow: 0 0 6px rgb(140 162 174 / 30%);
}

.fadeIn {
  animation: fadeInAnimation 1s;
}

.fadeOut {
  animation: fadeOutAnimation 1s;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.plus {
  border-radius: 11px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  transition: all 0.2s ease;
  color: white;
  box-shadow: 0 0 6px rgb(140 162 174 / 30%);
}
