.header-container {
  height: 120px;
  width: 100vw;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(13, 186, 114);
  padding: 10px 100px;
}

.user-name {
  text-transform: capitalize;
}

.logo {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

.logo img {
  width: 100%;
  border-radius: 10px;
  height: 90px;
}

.header-total {
  font-size: 20px;
  padding: 9px;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0px;
  transition: all 0.3s;
  width: auto;
  visibility: visible;
}
.cart-length {
  display: none;
}

.hidden {
  visibility: hidden;
  transition: all 0.3s;
  font-size: 0px;
}

.cart-user-container {
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
}
.cart-nav {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5),
    inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 11px;
  align-self: center;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  position: relative;
}

.user-nav {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5),
    inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 11px;
  font-size: 20px;
  margin-left: 10px;
  width: 120px;
  text-align: center;
  line-height: 15px;
  padding-top: 14px;
  transition: all 0.3;
  background-color: white;
}

.user-nav p {
  cursor: pointer;
}

.user-nav-show {
  text-align: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5),
    inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 11px;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  min-height: 135px;
  width: 120px;
  z-index: 1;
  line-height: 15px;
  cursor: pointer;
  padding-top: 18px;
  overflow: hidden;
  background-color: white;
}

.fadeIn {
  animation: showing 0.3s;
}

@keyframes showing {
  from {
    min-height: 0px;
  }
  to {
    min-height: 135px;
  }
}

.user-nav-show p:not(:first-child):hover {
  transition: all 0.3s;
  transform: scale(1.2);
  color: blue;
}

/* TITLE */

.title-container {
  background-color: rgb(13, 186, 114);
  padding-top: 120px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0px 0px 11px 11px;
}

.title-container h1 {
  font-style: italic;
}

.title-container img {
  position: absolute;
  left: 10px;
  top: 30px;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 600px) {
  .header-container {
    justify-content: space-between;
    padding: 10px 20px;
  }
  .header-total {
    display: none;
  }

  .fa-shopping-cart {
    padding-right: 10px;
  }
  .cart-length {
    display: block;
    position: absolute;
    right: 5px;
    bottom: 0px;
  }
}
