.header-container {
  height: 100px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

.logo img {
  width: 100%;
  border-radius: 10px;
  height: 90px;
}

.header-total {
  font-size: 20px;
  padding: 9px;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0px;
  transition: all 0.3s;
  width: auto;
  visibility: visible;
}

.hidden {
  visibility: hidden;
  transition: all 0.3s;
  font-size: 0px;
}

.cart-user-container {
  height: 50px;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}
.cart-nav {
  box-shadow: 1px 0px 4px 0px black;
  border-radius: 11px 0px 0px 11px;
  align-self: center;
  padding: 10px;
  font-size: 20px;
}

.user-nav {
  box-shadow: 1px 0px 4px 0px black;
  border-radius: 0px 11px 11px 0px;
  padding: 10px;
  font-size: 20px;
  margin-left: 10px;
  width: 120px;
  text-align: center;
  line-height: 15px;
  padding-top: 18px;
  transition: all 0.3;
}

.user-nav p {
  cursor: pointer;
}

.user-nav-show {
  text-align: center;
  box-shadow: 1px 0px 4px 0px black;
  border-radius: 0px 11px 11px 0px;
  padding: 10px 0px;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  min-height: 135px;
  width: 120px;
  z-index: 1;
  line-height: 15px;
  cursor: pointer;
  padding-top: 18px;
  overflow: hidden;
}

.fadeIn {
  animation: showing 0.3s;
}

@keyframes showing {
  from {
    min-height: 0px;
  }
  to {
    min-height: 135px;
  }
}

.user-nav-show p:not(:first-child):hover {
  transition: all 0.3s;
  transform: scale(1.2);
  color: blue;
}

@media screen and (max-width: 600px) {
  .cart {
    display: none;
  }
  .user {
    margin-left: auto;
  }
}
