.home-container {
  border-radius: 20px;
  margin: 50px 0px;
  display: flex;
  padding: 60px;
  background-color: rgba(39, 39, 039);
  justify-content: space-around;
  min-height: 400px;
}

.search-bar {
  display: flex;
  justify-content: center;
}
