.card-container {
  width: 220px;
  height: 260px;
  margin: 0px 10px;
  border-radius: 11px;
  background-color: white;
}

.card-container div {
  text-align: center;
}

.detail-img {
  width: 140px;
  height: 140px;
}

.card-price {
  color: color;
  font-weight: bold;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
