.card-container {
  width: 220px;
  height: 260px;
  margin: 0px 10px;
}

.card-container div {
  text-align: center;
}

.card-container img {
  width: 140px;
  height: 140px;
}

.card-price {
  color: green;
  font-weight: 600;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
