/* VARIABLES */
$bg-light-color: rgb(228, 228, 228);
$bg-dark-color: rgb(39, 39, 39);
$btn-bg-dark: rgb(39, 39, 39);
$dark-box-shadow: rgba(0, 0, 0, 0.4);
$btn-bg-google: #4285f4;
$bg-danger: #c91d12;

/* IMPORTS */
@import "header";
@import "buttons";
@import "login";
@import "cart-items";
@import "cart";
@import "categories";
@import "product-card";
@import "product-detail";

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bg-light-color;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 3rem;
  padding-top: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* DARK OVERLAY */
.overlay {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: $dark-box-shadow;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation 1s;
}

/* ANIMS */

@keyframes fromRight {
  from {
    transform: translateX(10rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes topToBot {
  from {
    height: 4rem;
  }
  to {
    height: 10rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes lettersFromLeft {
  from {
    width: 0;
  }
}

/**************************************************** NO SELECT */
a,
div,
p,
h1,
button {
  user-select: none;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
