@import "cart.css";
@import "cart.css";

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: wheat;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/**************************************************** NO SELECT */
a,
div,
p,
h1,
button {
  user-select: none;
}
