.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(170, 170, 164);
}

.cursorPointer {
  cursor: pointer;
}
/* SEARCH BAR */
.search {
  position: relative;
  display: flex;
  width: 360px;
}

.searchIcon {
  position: absolute;
  right: 0px;
  background-color: rgb(192, 192, 192);
  width: 30px;
  height: 100%;
  line-height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.searchIcon:hover {
  transform: scale(1.3);
}

.suggestion {
  width: 360px;
  position: relative;
  left: 0px;
  bottom: 0px;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px black;
}
.suggestion:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: gray;
}

/* PRODUCT DETAIL SIZE && COLOR */
.size-container {
  display: flex;
  justify-content: center;
}

.size-container div {
  border: 1px solid black;
  font-size: 18px;
  padding: 1px 5px;
  margin: 2px 5px;
  cursor: pointer;
}

.size-container div:hover {
  transform: scale(1.2);
}

.selected {
  transform: scale(1.3);
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-container div {
  display: flex;
  flex-direction: row;
  margin: 2px 5px;
  padding: 1px 5px;
  cursor: pointer;
}

.color:hover {
  transform: scale(1.3);
}

/* NAV BAR CART */

.cart i {
  position: relative;
}

.cart p {
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgba(248, 7, 7, 0.8);
  padding: 0px 4px;
}

.arrow i {
  position: absolute;
  bottom: 0px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* NAV BAR CART DROP DOWN ITEMS */
.drop-container {
  opacity: 0.5;
}
