.header-container {
  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-dark-color;
  padding: 1rem 10rem;
  left: 0px;
}

.user-name {
  text-transform: capitalize;
}

.logo {
  width: 10rem;
  height: 10rem;
  padding-top: 1rem;
}

.logo img {
  width: 100%;
  border-radius: 1rem;
  height: 9rem;
}

.header-total {
  font-size: 2rem;
  padding: 0.9rem;
  border-radius: 1.2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0px;
  transition: all 0.3s;
  width: auto;
  visibility: visible;
}
.cart-length {
  display: none;
}

.hidden {
  visibility: hidden;
  transition: all 0.3s;
  font-size: 0px;
}

.cart-user-container {
  height: 5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;
}

.nav-buttons {
  box-shadow: 0px 0px 0.2rem $dark-box-shadow,
    inset 0px 0px 0.5rem $dark-box-shadow;
  border-radius: 1.1rem;
  font-size: 2rem;
}
.cart-nav {
  align-self: center;
  padding: 1rem;
  cursor: pointer;
  background-color: $bg-light-color;
  position: relative;
  height: 4rem;
}

.user-nav {
  margin-left: 1rem;
  width: 12rem;
  height: 4rem;
  text-align: center;
  padding-top: 1rem;
  transition: all 0.3;
  background-color: $bg-light-color;
  cursor: pointer;
  p {
    cursor: pointer;
  }
}

.user-nav-show {
  align-self: flex-start;
  text-align: center;
  box-shadow: 0px 0px 0.2rem $dark-box-shadow,
    inset 0px 0px 0.5rem $dark-box-shadow;
  border-radius: 1.1rem;
  font-size: 2rem;
  margin-left: 1rem;
  width: 12rem;
  z-index: 1;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: $bg-light-color;

  p:not(:first-child):hover {
    transition: all 0.3s;
    transform: scale(1.2);
    color: blue;
  }
}

.grow {
  animation: topToBot 0.3s;
}

/* TITLE */

.title-container {
  background-color: $bg-light-color;
  padding-top: 12rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 0px 0px 1.1rem 1.1rem;

  h1 {
    font-style: italic;
    font-size: 6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }

  img {
    position: absolute;
    left: 1rem;
    top: 3rem;
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 600px) {
  .header-container {
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .header-total {
    display: none;
  }

  .fa-shopping-cart {
    padding-right: 1rem;
  }
  .cart-length {
    display: block;
    position: absolute;
    right: 0.5rem;
    bottom: 0rem;
  }
}
