.card-container {
  width: 22rem;
  height: 26rem;
  margin: 0px 1rem;
  border-radius: 1.1rem;
  background-color: white;

  div {
    text-align: center;
  }

  h4 {
    font-size: 1.8rem;
  }
}

.detail-img {
  width: 14rem;
  height: 14rem;
}

.card-price {
  color: black;
  font-weight: bold;
  font-size: 1.7rem;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
